@import "../jccc/ChunkFive-Webfont/stylesheet.css";


@jccc-orange: #fb6d05;
@jccc-parchment: #f9f7e8;
@jccc-light-blue: #ceeef8;
@jccc-dark-blue: #3a98bd;

@body-bg: @jccc-parchment;
@navbar-default-bg: @jccc-dark-blue;
@navbar-default-link-color: @jccc-parchment;
@navbar-default-color:  @jccc-parchment;


h1, h2, h3, .navbar-brand {
  color: @jccc-orange;
  font-family: "ChunkFiveRegular";
  text-transform: uppercase;
}
